node_modules/

.env
.env.local


logs/
*.log

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp

# Test coverage output
coverage/

# Build output (if you ever add a build step)
dist/
build/

.npm/
.eslintcache

# postman/
.postman/
postman/

response.json
url_audit.txt

uploads/